:root {
    --primary-text-color: #1a1a1a;
    --primary-font-family: "Josefin Sans";
    --light-text-color: #ededed;
    --primary-background-color: #131112;
    --footer-background-color: #131112;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font-family), serif;
    background-color: var(--primary-background-color);
}

.container {
    width: 100vw;
    background-color: var(--primary-background-color);
    color: var(--light-text-color);
}

/* HEADER */
.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.welcome-section {
    position: relative;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    z-index: -1;
}

header {
    position: fixed;
    width: 100vw;
    margin: 1em 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--light-text-color);
    margin: 0;
    padding: 20px 0px;
    z-index: 1;
}

.background-img {
    height: 100%;
    width: 100%;
    background-image: url(./resources/steak-background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -100px;
    z-index: -1;
    transform: translateZ(-10px) scale(2.5);
}

.menu-btn {
    display: none;
}

.logo h1 {
    font-weight: 450;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

span {
    color: #d30000;
    text-shadow: 0px 2px 5px rgb(203, 0, 0);
}

.links.mobile {
    display: none;
}

.links {
    width: 30em;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.link a, .logo a {
    text-decoration: none;
    color: var(--light-text-color);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    transition: all 0.2s ease;
}

.link a:hover, .logo a:hover {
    color: #8a8a8a;
}

.welcome-text {
    position: absolute;
    top: 50%;
    color: var(--light-text-color);
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
    font-size: 7rem;
}

.reserve-btn {
    position: absolute;
    top: 75%;
    border: 1px solid var(--light-text-color);
    color: var(--light-text-color);
    padding: 15px 20px;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 300;
    background-color: #131112b1;
    text-shadow: 0px 0px 1px rgb(255, 255, 255);
    transition: all 0.2s ease;
}

.reserve-btn:hover {
    background-color: #131112e7;
}

/* Main content */
.main-content {
    max-width: 90%;
    margin: 0 auto;
}

.description {
    display: block;
    margin-top: 8em;
}

.section-wrapper {
    display: flex;
    gap: 3em;
    margin-bottom: 10em;
}

h2 {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 500;
}

p {
    font-size: 1.2rem;
    font-weight: 350;
}

.main-content img {
    width: 50%;
    object-fit: cover;
}

#kitchen .description {
    max-width: 55vw;
}

#kitchen img {
    width: 30%;
    object-fit: cover;
}

/* Contact */
.contact-section {
    display: block;
    margin: 6em 0;
    text-align: center;
}

.contact-section p {
    font-size: 1.5rem;
}

.contact-section h3 {
    margin: 1em;
    font-weight: 600;
    font-size: 1.6rem;
}

.location {
    margin-top: 5em;
    height: 50vh;
    display: flex;
    justify-content: center;
    gap: 3em;
}

.map {
    width: 50%;
    height: 100%;
    background-color: red;
}

address {
    margin-top: 1em;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
}

.map iframe {
    width: 100%;
    height: 100%;
}

.open-hours ul {
    list-style: none;
}

.open-hours ul li {
    font-size: 1.3rem;
}

/* FOOTER */
footer {
    background-color: var(--footer-background-color);
    text-align: center;
    padding: 3em 0;
}

a.social-link {
    text-decoration: none;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.social-link img {
    width: 4em;
    filter: brightness(80%);
    transition: all 0.2s ease;
}

.social-link img:hover {
    filter: brightness(100%);
}

.author {
    margin-top: 4em;
    font-weight: 200;
    font-size: 1.2rem;
}

.author a {
    text-decoration: none;
    color: var(--light-text-color);
    transition: all 0.2s ease;
}

.author a:hover {
    color: #fff;
    font-weight: 300;
}

/* MEDIA QUERIES */

/* MOBILE VERSION */
@media (max-width: 767px) {
    /* HEADER */
    .menu-btn {
        display: block;
        width: 50px;
        height: 50px;
        background: none;
        border: none;
        transition: all 0.2s ease;
    }

    .menu-btn:hover {
        filter: brightness(60%);
    }

    header {
        justify-content: space-around;
    }

    .links {
        display: none;
    }

    .links.mobile {
        position: absolute;
        display: none;
        width: 100vw;
        margin: 0 auto;
        z-index: 1;
        background: #131112f3;
        animation-name: open-menu;
        animation-duration: 0.2s;
    }

    .mobile.display {
        display: block;
    }

    .links.mobile .link {
        margin: 5em;
        font-size: 1.5rem;
        text-align: center;
    }

    @keyframes open-menu {
        from {
            display: none;
            background: none;
        } to {
            display: block;
            background: #131112f3;
        }
    }

    .background-img {
        background-position: center;
    }

    .welcome-text {
        font-size: 3.5rem;
        text-align: center;
    }

    .reserve-btn {
        top: 80%;
        font-size: 1rem;
    }

    .section-wrapper {
        display: flex;
        flex-direction: column;
        gap: 3em;
        margin-bottom: 10em;
    }

    h2 {
        margin-bottom: 10px;
        font-size: 2.5rem;
        font-weight: 500;
    }

    p {
        font-size: 1.5rem;
        font-weight: 350;
    }

    .main-content img {
        width: 100%;
        object-fit: cover;
    }

    #kitchen .description {
        max-width: 90vw;
    }

    #kitchen img {
        width: 100%;
        object-fit: cover;
    }

    /* Contact */
    .contact-section {
        display: block;
        margin: 6em 0;
        text-align: center;
    }

    .contact-section p {
        font-size: 1.8rem;
    }

    .contact-section h3 {
        margin: 1em;
        font-weight: 600;
        font-size: 1.8rem;
    }

    .contact-info {
        word-wrap: break-word;
    }

    .location {
        margin-top: 5em;
        height: 100vh;
        display: block;
    }

    .map {
        width: 100%;
        height: 50%;
    }

    address {
        margin-top: 1em;
        font-weight: 400;
        font-style: normal;
        font-size: 1.3rem;
    }

    .map iframe {
        width: 100%;
        height: 100%;
    }

    .open-hours {
        display: block;
    }

    .open-hours ul {
        list-style: none;
    }

    .open-hours ul li {
        font-size: 1.4rem;
    }

    /* FOOTER */
    footer {
        background-color: var(--footer-background-color);
        text-align: center;
        padding: 3em 0;
    }

    .social-links {
        display: block;
    }

    .social-link img {
        margin: 1.5em;
        width: 4em;
        filter: brightness(80%);
        transition: all 0.2s ease;
    }

    .social-link img:hover {
        filter: brightness(100%);
    }

    .author {
        margin-top: 4em;
        font-weight: 200;
        font-size: 1rem;
    }

    .author a {
        text-decoration: none;
        color: var(--light-text-color);
        transition: all 0.2s ease;
    }

    .author a:hover {
        color: #fff;
        font-weight: 300;
    }
}

/* TABLET VERSION */
@media (min-width: 768px) and (max-width: 1023px) {

}